<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a class="title">
            {{title}}
        </a>
    </span>

    <span class="title-group" style="margin-left: 70rem;"
    *ngIf="user$ | async as user; else login" mat-button>
        <a class="title">
            <i class="material-icons">
                <button >
                    <mat-icon>account_box</mat-icon>
                </button>
            </i>
            {{ user.sub }}
        </a>
    </span>

    <ng-template #login>
                <a routerLink="" style="margin-left: 5px; font-size: 16px; color: white;">
                    Please, login!
                </a>
    </ng-template>

</mat-toolbar>
