mat-card {
    max-width: 80%;
    margin: 0.5em auto;  
}

.toolbar {
  justify-content: center;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  background-color: #a17464;
  margin-bottom: 25px;
}

table {
  width: 100%;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
